<!-- This is the core-comp[rename it] which loads the initial page in the dashboard module -->
<!-- If there are sub sections(another page) inside the dashbioard module(page) that will be another component
inside the dashboard folder  -->
<!-- If there are components used inside the core-comp then that component's folder goes inside the core-comp folder -->

<h3>Core comp</h3>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Core Component inside dashboard!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that
    you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>